.blogContainer {
  /* width: 1200px; */
  width: 1200px;
  margin: 0 auto;
  /* min-height: 800px; */
  padding: 25px;
}

.header {
  min-height: 180px;
  color: #9080a6;
}

.headerDesc {
  font-size: 25px;
  font-weight: 340;
  color: grey;
  /* border: 1px solid black; */
  /* display: inline-block; */
}

.headerInfo {
  /* border: 1px solid; */
  margin-right: 20px;
  float: right;
}

.headerInfo p {
  margin-top: 0;
  font-size: 24px;
  text-align: center;
}

.listLayout {
  margin: 0 auto;
  /* max-width: 1000px; */
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
  /* border: 1px solid; */
  /* background-color: orange; */
}

.listLayout aside {
  flex-basis: 200px;
  /* min-height: 800px; */
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #e0d4f3;
}

.category {
  padding: 20px;
  color: #816670;
}

.category a:hover {
  text-decoration: underline;
}

.subCategory div {
  padding-bottom: 10px;
  font-weight: 300;
}

.listLayout article {
  /* flex-basis: 700px; */
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  /* background-color: #ffe0e0; */
}

.postBox {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 10px;
  background-color: #f0f0f0;
  border: 3px solid yellow;
}

.postInfo {
  /* min-height: 300px; */
  /* min-width: 400px; */
  /* flex-basis: 300px; */
  /* flex-shrink: 1; */
  flex-grow: 1;
  border: 0.5px solid lightgray;
  border-radius: 2%;
  text-align: center;
  /* border: 1px solid blue; */
}

.postImg {
  border-bottom: 0.5px solid lightgray;
  padding: 20px;
}

.postTitle {
  font-size: 1.3rem;
  height: 80px;
  color:#9080a6;
  /* border: 1px solid; */
}

.postTitle div {
  cursor: pointer;
  /* border: 1px solid red; */
}

.postTitle div:hover {
  color: #d9cc8b;
}

.postContent {
  /* white-space: nowrap; */
  /* width: 100%; */
  height: 50px;
  font-weight: 300;
  /* border: 1px solid; */
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1rem;
}

.postContent p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 1.5em;
  max-height: 5em;
  margin-top: 0;
  /* border: 1px solid red; */
}

.postDate {
  float: left;
  font-size: 12px;
  /* border: 1px solid; */
}

.postTitle, .postDate {
  padding: 10px;
  display: block;
}


/* 반응형 */
@media (max-width: 1024px) {
  .blogContainer {
    width: 100%;
    padding: 10px;
  }
  .headerDesc {
    font-size: 15px;
  }
  .listLayout {
    /* margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 1em; */
    /* border: 1px solid; */
    display: block;
    width: 100%;
    gap: 1em;
    border: 3px solid green;
  }

  .listLayout article {
    /* flex-basis: 100px; */
    flex-grow: 0;
    flex-shrink: 0;
    background-color: red;
  }
  /* .postBox {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 10px;
    background-color: #f0f0f0;
    border: 3px solid yellow;
  } */
  .postBox {
    display: block;
    gap: 1;
    padding: 10px;
    /* background-color: #f0f0f0; */
    border: 3px solid red;
  }
  .postInfo {
    min-height: 0;
    min-width: 0;
    /* flex-basis: 300px; */
    /* flex-shrink: 1; */
    flex-grow: 0;
    border: 0.5px solid lightgray;
    border-radius: 2%;
    text-align: center;
    border: 5px solid blue;
  }
}