.blogContainer {
  width: 1200px;
  margin: 0 auto;
  /* min-height: 800px; */
}

.header {
  min-height: 180px;
  color: #9080a6;
}

.headerDesc {
  font-size: 25px;
  font-weight: 340;
  color: grey;
  /* border: 1px solid black; */
  /* display: inline-block; */
}

.headerInfo {
  /* border: 1px solid; */
  margin-right: 20px;
  float: right;
}

.headerInfo p {
  margin-top: 0;
  font-size: 24px;
  text-align: center;
}

.listLayout {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0 auto;
  display: flex;
  border-radius: 10px;
  flex-wrap: nowrap;
  box-shadow: 0 0 0 11px #e0d4f3;
}

.listLayout aside {
  flex-basis: 200px;
  /* min-height: 800px; */
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #e0d4f3;
}

.category {
  padding: 20px;
  color: #816670;
}

.category a:hover {
  text-decoration: underline;
}

.subCategory div {
  padding-bottom: 10px;
  font-weight: 300;
}

.listLayout article {
  box-shadow: 0 0 0 11px #e0d4f3;
  border-radius: 10px;
  width: 100%;
  /* flex-basis: 700px; */
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
}

.postBox {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 10px;
  /* background-color: #f0f0f0; */
  /* background-color: blue; */
}

.postInfo {
  /* min-height: 300px; */
  /* min-width: 400px; */
  /* flex-basis: 300px; */
  /* flex-shrink: 1; */
  flex-grow: 1;
  border: 0.5px solid lightgray;
  border-radius: 2%;
  text-align: center;
  /* border: 1px solid blue; */
}

.postImg {
  border-bottom: 0.5px solid lightgray;
  padding: 20px;
  cursor: pointer;
}

.postTitle {
  font-size: 1.3rem;
  height: 80px;
  color:#9080a6;
  /* border: 1px solid; */
}

.postTitle div {
  cursor: pointer;
  /* border: 1px solid red; */
}

.postTitle div:hover {
  color: #d9cc8b;
}

.postContent {
  /* white-space: nowrap; */
  /* width: 100%; */
  height: 50px;
  font-weight: 300;
  /* border: 1px solid; */
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1rem;
}

.postContent p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 1.5em;
  max-height: 5em;
  margin-top: 0;
  /* border: 1px solid red; */
}

.postDate {
  float: left;
  font-size: 12px;
  /* border: 1px solid; */
}

.postTitle, .postDate {
  padding: 10px;
  display: block;
}
.toggle__cate {
  /* position: fixed; */
  display: none;
  cursor: pointer;
  width: 100%;
}
.toggle__cate > div {
  border-top: 1px solid lightgray;
}
.toggle__cate > div:first-child {
  border-top: none;
}
.toggle__cate > div:hover {
  /* border: 3px solid red; */
  background-color: blueviolet;
}
#dropBtn {
  display: none;
  position: fixed;
  top: 14px;
  right: 435px;
  background-color: #333;
  color: #f0f0f0;
  width: 40px;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}


/* 반응형 */
@media (max-width: 1024px) {
  .blogContainer {
    width: 100%;
    padding: 10px;
  }
  .headerDesc {
    font-size: 15px;
  }
  .listLayout {
    /* margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 1em; */
    /* border: 1px solid; */
    display: block;
    width: 100%;
    gap: 1em;
    /* border: 3px solid green; */
  }
  .listLayout .category {
    display: none;
  }
  .listLayout article {
    /* flex-basis: 100px; */
    flex-grow: 0;
    flex-shrink: 0;
    /* background-color: red; */
  }
  /* .postBox {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 10px;
    background-color: #f0f0f0;
    border: 3px solid yellow;
  } */
  .postBox {
    display: block;
    gap: 1;
    padding: 10px;
    /* background-color: #f0f0f0; */
    /* border: 3px solid red; */
  }
  .postInfo {
    min-height: 0;
    min-width: 0;
    /* flex-basis: 300px; */
    /* flex-shrink: 1; */
    flex-grow: 0;
    border: 0.5px solid lightgray;
    border-radius: 2%;
    text-align: center;
    /* border: 5px solid blue; */
  }
  .postDate {
    float: none;
    padding: 0;
  }
  .toggle__cate {
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 9999;
    background-color: #fff;
    border: 1px solid #333;
    width: 20%;
    top: 58px;
    right: 370px;
  }
  #dropBtn {
    cursor: pointer;
    padding: 10px 0;
    display: flex;
  }
}
@media (max-width: 600px) {
  #dropBtn {
    right: 200px;
  } 
  .toggle__cate {
    right: 200px;
  }
}