html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
 
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#section_line {
  border-bottom: 1px solid lightgray;
  display: block;
  /* width: 100%; */
}
.header {
  /* border: 3px solid green; */
  background: white;
  border-bottom: 1px solid lightgray;
  width: 100%;
  /* margin: 0 auto; */
  position: fixed;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* text-align: center; */
  /* align-content: center; */
  z-index: 100;
}
.inner {
  padding: 80px 0;
}

.container {
  /* border: 3px solid blue; */
  /* text-align: center; */
  /* align-content: center; */
  width: 100%;
  /* margin: auto; */
}

.container-left {
  margin-left: 30px;
  padding: 5px 0;
  width: 100%;
}

.logo {
  float: left;
  margin-top: 8px;
  /* margin-right: 50px; */
  /* border: 1px solid; */
}
.logo img {
  display: block;
}

.menu {
  /* float: left; */
  /* border: 1px solid; */
  display: flex;
  list-style: none;
  /* width: 100%; */
}
#hidden {
  display: flex;
}
.menu-item {
  /* float: left; */
  padding: 8px 25px;
  font-size: large;
  background-color: #fff;
}
.menu-item:hover {
  /* float: left; */
  /* padding: 8px 10px; */
  /* font-size: large; */
  cursor: pointer;
  color: #9080a6;
}
.blog__items {
  display: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.footerContainer {
  background-color: #333333;
  /* border: 3px solid blue; */
  position: relative;
  box-sizing: border-box;
  padding: 40px 30px;
}

.footerContents {
  /* border: 3px solid tomato; */
  margin: 0 auto;
  width: 100%;
  color: lightgray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightslategrey;
}

.footerContents p {
  display: inline;
  margin: 0 30px;
  color: lightslategrey;
}

.footerContents ul {
  list-style: none;
}

.footerContents ul li {
  float: left;
  padding:3px;
  margin-right: 3px;
  /* border: 3px solid turquoise; */
}

/* .footerlinks {
  float: right;
  display: inline;
  text-decoration: none;
} */

.info {
  color: #b2bbc3;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: -.5px;
  margin-top: 5px;
  line-height: 22px;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  /* border: 3px solid violet; */
}

.info p{
  display: inline;
  /* margin: 0 10px; */
  margin-right: 20px;
  margin-bottom: 10px;
}

#toggle-btn {
  display: none;
  background: url("../public/images/toggle-btn.svg");
  /* background-repeat: no-repeat; */
  width: 30px;
  height: 20px;
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer;
  text-indent: -9999px;
}

@media (max-width: 999px) {
  #toggle-btn {
    display: flex;
  }
  .container {
    /* border: 3px solid blue; */
    width: 100%;
  }
  .header {
    width: 100%;
    border-bottom: 1px solid #333;
  }
  .container-left {
    margin-left: -25px;
    height: 100%;
    /* border: 3px solid tomato; */
  }
  .logo {
    float: none;
    margin-left: 50px;
  }
  .logo img {
    width: 50px;
    height: 50px;
  }
  .menu {
    /* border: 3px solid green; */
    display: none;
    width: 100%;
    /* margin-left: 18px; */
    flex-direction: column;
  }
  #hidden {
    position: absolute;
    /* border: 3px solid violet; */
    box-sizing: border-box;
    top: 67px;
    z-index: 2;
  }
  .menu-item {
    background-color: #fff;
    margin-top: -10px;
    height: 50px;
    margin-left: -30px;
    padding-left: 25px;
  }

  /* FOOTER */
  .footerContainer {
    padding: 28px 16px;
  }
  .footerContents {
    /* display: none; */
    flex-direction: column;
    align-items: flex-start;
  }
  .footerContents ul {
    margin-left: -43px;
  }
  .info {
    /* border: 3px solid green; */
  }
  .info p:first-child {
    display: block;
    margin: 0;
  }
  .info p {
    display: inline-block;
    line-height: 160%;
    /* border: 3px solid tomato; */
    margin: 0;
    margin-right: 10px;
    font-size: 12px;
  }
  .info p:nth-child(3) {
    display: none;
  }
  .info p:nth-child(5) {
    display: none;
  }
  .info p:nth-child(6) {
    display: none;
  }
  .info p:nth-child(7) {
    display: none;
  }
}