.body {
    margin-top: 30px;
    width: 1200px;
    margin: 0 auto;
  }
  
  .icons {
    font-size: 100px;
    font: #004abf;
  }
  
  .title {
    color: #004abf;
  }
  
  .desc {
    font-size: 28px;
    font-weight: 300;
    color: #333;
    margin-top: 20px;
  }
  .companyPjt,
  .personalPjt {
    padding: 50px 0 80px 0;
  }
  .personalPjt {
    border-top: 1.5px solid #eee;
    width: 100%;
    padding-bottom: 200px;
  }
  
  .companyPjtTitle,
  .personalPjtTitle {
    font-size: 25px;
    font-weight: 300;
    color: #333;
  }
  
  .companyPjtDesc,
  .personalPjtDesc {
    font-size: 16px;
  }
  
  .companyListBox > li {
    display: flex;
    height: 80px;
    align-items: center;
    margin: 28px 0;
  }
  
  .companyListBox,
  .personalListBox {
    list-style: none;
    margin-top: 32px;
    padding-inline-start: 0px;
  }
  
  .companyListBox .intro {
    display: flex;
    font-weight: 150;
  }
  
  .companyListBox .logo {
    margin: 0 28px 0 0;
  }
  
  .companyListBox .outline {
    min-width: 200px;
    margin: 0 40px 0 0;
  }
  
  .companyListBox .detail {
    min-width: 300px;
    margin: 0 60px 0 0;
    font-size: 14px;
    font-weight: 150;
  }
  .companyListBox .link {
    display: block;
  }
  
  .companyListBox .link a {
    font-size: 14px;
    display: inline-block;
    border-radius: 60px;
    height: 36px;
    padding: 0 24px;
    line-height: 36px;
    border: 1px solid #ddd;
  }
  
  .companyListBox .link a:hover {
    color: #fff;
    background: #004abf;
  }
  
  .personalListBox,
  .liBox {
    display: flex;
  }
  .liBox {
    width: 1040px;
    overflow: hidden;
  }
  .personalListBox > .liBox > li {
    margin: 0 35px 31px 0;
    cursor: pointer;
    font-weight: 150;
  }
  
  .personalListBox .title {
    margin-top: 24px;
    font-size: 16px;
    color: #333;
  }
  
  .buttonPrev {
    width: 90px;
    height: 300px;
  }
  
  .buttonNext {
    padding-left: 17px;
    width: 60px;
    height: 300px;
  }